// BEGIN VARIABLES
$color-white: #fbfdff;
$color-black: #393c55;
$color-primary: #6858ab;
$color-secondary: #f2f8ff;
$color-third: #fce1dd;

$color-input-border: #ced4da;
$color-input-shadow: rgb(202 208 247);

$color-button: #1d8fcd;
$color-button-boxshadow: #dff7ff;
$color-button-background: #aae2f8;
// END VARIABLES
